
nav {
    position: fixed;
    display: flex;
    z-index: 2;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    overflow: hidden;
    background: var(--pal4);
}

.link{
    text-decoration: none;
}
#aparelho:hover{
cursor: pointer;
}

li{
    font-size: 2rem;
    list-style: none;
    color: var(--pal1);
}
.OffCanvas.Title{
    display: inline;
}
.logoAzul{
    width: 4rem;
    height: 4rem;

}
.Container {
    height: 100%;
    margin-left: 2rem;
    justify-content: center;
    display: flex;
}

.logo {

    height: 100%;
    width: auto;
}

.aside {
    height: 100%;
    width: 2rem;
    margin-right: 2rem;
    color: white;
}

.noCadastro {
    @media (max-width: 500px) {
        display:none;
    }
    width: 20em;
    height: 100%;
    font-size: 1em;
}

.logado {
    display: flex;
    justify-content: flex-end;


    height: 100%;
}

.simbolos {
    display: flex;
    justify-content: space-around;

    margin-right: 2rem;
    background-color: var(--pal4);
    height: 100%;


    gap: 2rem;
    @media (max-width: 500px) {
        display:none;
    }


}

.simbolos:hover {
    cursor: pointer;
}

.usuario {
    background-color: var(--pal1);
    width: 10em;
    height: 100%;
    color: white;
    display: inline-flex;
    gap: 2rem;

}



/* esconde o elemento*/
.hide {
    display: none;
}