footer {
    display: flex;

    height: 100px;

    justify-content: center;
    align-items: center;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8em;
    
    color: #FFFFFF;
    background: #99A6E8;

    /* Rectangle 119 */




}