header{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    
    background-color: #dcdcdc;
}
.logo{
    width: 40%;
    height: auto;
}
h1{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 70px;
}