:root {
    --pal1: #5075BF;
    --pal2: #1C418C;
    --pal3: #A9D9D9;
    --pal4: #99A6E8;
    --pal5: #058ED9;
    --pal6: #E9EE1E;

}

.grid {
    display: grid;
    
    justify-content: space-around;
    margin: 5px;
    padding: auto;

}

.item {
    list-style: none;
    
    justify-content: space-around;
    
    text-decoration: none;
    margin: 5px,0,0,0;
    padding: auto;
}


.menuitem {
    list-style: none;
    text-decoration: none;
    margin: 5px;
    padding: auto;
    
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.menuitem2 {
    list-style: none;
    text-decoration: none;
    margin: 5px,0,0,0;
    padding: auto;
    
    font-family: 'Inter';
    font-weight: 300;
    font-size: 4rem;
    line-height: 19px;
}

.menuitem li {
    list-style: none;
    position: relative;
    margin: 20px 30px;
}

.menuitem li {
    list-style: none;
    position: relative;
    padding: 20px 30px;
}


.menuitem li a {
    list-style: none;
    
    text-decoration: none;
    font-weight: bold;

}